$snow-white: #fff;
$golden: #e8ff74;
$catskill-white: #eceff5;
$mercury: #e1e1e1;
$alice-blue: #f2f9ff;
$gray-light: #d8dce9;
$gray-lighter: #dee0e3;
$gray-manatee: #8e93aa;
$gray-athens: #e7e7ec;
$silver-tree: #72bda3;
$patina: #64a38d;
$bon-jour: #E3DEDE;
$whisper: #f5f5f9;